$ball-size: 3rem;
$cd-primary: #ff5a5f;
$cd-secondary: #00a699;

body {
  display: flex;
  justify-content: center;
}
.btn {
  text-align: center;
  background: $cd-primary;
  font-size: 3rem;
  cursor: pointer;
  padding: 1.85rem 3rem;
  border-radius: 10rem;
  &:active ~ .animation {
    transform: perspective(80px) rotateZ(1turn) rotateX(75deg) scale(3);
    span {
      transform: translateY(0);
    }
  }
}

.animation {
  transition: transform 1500ms ease-in-out;
}

.ball {
  margin-top: 20vh;
  width: $ball-size;
  height: $ball-size;
  background: $cd-secondary;
  margin-bottom: 1rem;
  border-radius: 100px;
}

.box {
  margin-top: 20vh;
  width: $ball-size;
  height: $ball-size;
  overflow: hidden;
  background-color: #00a699;
  span {
    transform: translateY(250%);
    transition: transform 1000ms ease-out 50ms;
    display: inline-block;
  }
}

span {
  width: 100%;
}
