:root {
  --cd-btn: #011c37;
  --cd-txt: #15dea5;

  /* Form */
  --cd-txt2: #6300a0;
  --cd-box: #fff;
  --cd-txt--invalid: #fff;
  --cd-danger: #b20a37;
}

$shake-intensity: 1%;

@keyframes headshake {
  25% {
    transform: translateX($shake-intensity);
  }

  75% {
    transform: translateX($shake-intensity * -1);
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
}

.btn {
  background-color: var(--cd-btn);
  color: var(--cd-txt);
  font-size: 3rem;
  cursor: pointer;
  padding: 1.85rem 3rem;
  border-radius: 10rem;
  transform: scale(1);
  transition: transform 0.4s;
}

.btn:hover {
  transform: scale(1.15);
}

h2 {
  text-align: center;
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 50%;
  margin: 0 auto;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

input:focus {
  border: 2px solid var(--cd-txt2);
}
input:not(:focus):invalid {
  background: var(--cd-danger);
  border: 2px solid var(--cd-danger);
  color: var(--cd-txt--invalid);
  animation: headshake 100ms cubic-bezier(0.4, 0.1, 0.6, 0.9) 2;
}
textarea:focus {
  background-color: var(--cd-txt2);
}
